body {
    width: 1280px;
    margin: 0 auto;
    border: 4px solid black;
    box-sizing: border-box;
    font-family: Arial;
}

.page-header {
    width: 100%;
    background-color: #445161;
    color: #445162;
    padding: 50px 50px 51px;
    box-sizing: border-box;
}

.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.page-header-wrp {
    border: 1px solid #fff;
    box-sizing: border-box;
    float: left;
    margin: 0;
}

.page-header-title {
    margin: 0 0 50px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
}

.page-header-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: ArialMT;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.page-header-list-item {
    padding: 0 0 0 30px;
    position: relative;
}

.page-header-list-item:before {
    content: '';
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 6px;
    left: 0;
    background-image: url(../img/check-icon.png);
    background-size: contain;
}

.page-header-img {
    display: block;
    width: 469px;
    height: 214px;
    background-color: #fff;
    color: black;
    float: right;
    margin: 0;
}

.about-product {
    padding: 50px 50px 51px;
    box-sizing: border-box;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrp {
    border: 1px solid #000;
    box-sizing: border-box;
    float: left;
    margin: 0;
    max-width: 52%;
}

.about-product-title {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.page-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 20px 0 0 0;
}

.about-product-img {
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445161;
    display: block;
    color: #fff;
    margin: 0;
}

.pluses {
    padding: 50px;
    min-height: 350px;
    background-color: #f5f5f5;
}

.pluses-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 29px 0;
    text-align: center;
}

.pluses-wrp {
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;  - нужно потренировать float*/
    border: 1px solid #000;
}

.pluses-wrp:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.pluses-block:first-child {
    max-width: 49%;
    float: left;
    margin-right: 23px;
}

.pluses-block:nth-child(2) {
    float: right;
    max-width: 49%;
}

.pluses-block details summary {
    display: none
}

.pluses-details {
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.pluses-details::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: 0;
    background-image: url(../img/summary-cross-icon.png);
    background-size: contain;
}

details[open] summary {
    float: left;
    /* оставил их open, т.к. при убирании маркеров появляется пустота вместо раздела и некуда нажать, чтобы раскрыть элементы. как в chrome, так и в firefox. не понимаю, в чем проблема и как это исправить. */
}

.pluses-text {
    margin: 0 0 35px 0;
}

.screenshots {
    padding: 50px 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 35px 0;
}

.screenshots-figure {
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    border: 1px solid #000;
}

.figure-img {
    width: 200px;
    height: 150px;
    background-color: #445161;
    color: white;
    margin: 0 15px 0 0;
}

.screenshots-figure figcaption {
    width: 360px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.figcaption-title {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.screenshots-figure p {
    margin: 10px 0 0 0;
}

.reviews {
    padding: 50px;
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.reviews-title {
    display: block;
    width: 100%;
    margin: 0 0 35px 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.reviews-item {
    width: 48%;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 0 0 24px 0;
    display: flex;
    justify-content: space-between;
}

.reviews-item-avatar {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.reviews-item-text {
    width: 80%;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.reviews-item-text:before {
    content: "";
    display: block;
    border: 13px solid transparent;
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 27px;
    left: -26px;
}

.reviews-item-author {
    display: block;
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    text-decoration: none;
    font-style: normal;
}

.price {
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.price-title {
    display: block;
    width: 100%;
    margin: 0 0 29px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.price-item {
    min-height: 300px;
    max-width: 300px;
    margin: 0 45px 0 0;
    padding: 16px 0 20px;
    border: 1px solid #445162;
    background-color: #445162;
    box-sizing: border-box;
    border-radius: 10px;
}

.price-item:last-child {
    margin: 0;
}

.price-item-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 16px 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.price-item-cost {
    display: block;
    width: 100%;
    margin: 0;
    padding: 18px;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: white;
    text-align: center;
    border: 2px solid #445162;
    box-sizing: border-box;
}

.price-item-list {
    margin: 20px 0 20px 0;
    padding: 0 38px 0 25px;
    list-style-position: inside;
    justify-self: center;
}

.price-item-list li {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.price-item-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
}

.price-item-btn:hover {
    background-color: #445161;
    color: #fff;
}

.price-item-btn:active {
    background-color: #fff;
    color: #445161;
}

.footer-contacts {
    padding: 50px 0 50px 0;
    margin: 0;
    background-color: #445162;
}

.footer-contacts-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
}

.contacts-form-links {
    display: flex;
    justify-content: center;
}

.contacts-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 500px;
}

#name,
#email,
#message {
    height: 40px;
    width: 500px;
    /* font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162; */
    box-sizing: border-box;
    padding: 0 0 0 10px;
    margin-bottom: 13px;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
}

input[placeholder],
textarea[placeholder] {
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

#message {
    height: 170px;
    padding-top: 10px;
    resize: none;
}

#message::-webkit-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-left: 10px;
}

#message::-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-top: 10px;
    padding-left: 10px;
}

/* Firefox 19+ */
#message:-moz-placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-top: 10px;
    padding-left: 10px;
}

/* Firefox 18- */
#message:-ms-input-placeholder {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-top: 10px;
    padding-left: 10px;
}

/* стили наведения для разных браузеров*/
#name:hover,
#email:hover,
#message:hover {
    background-color: #445162;
    border-color: white;
}

#name:hover::placeholder,
#email:hover::placeholder,
#message:hover::placeholder {
    color: white;
}

#name:hover::-ms-input-placeholder,
#email:hover::-ms-input-placeholder,
#message:hover::-ms-input-placeholder {
    background-color: #445162;
    color: white;
    border-color: white;
}

#name:hover::-moz-placeholder,
#email:hover::-moz-placeholder,
#message:hover::-moz-placeholder {
    background-color: #445162;
    color: white;
    border-color: white;
}

/* стили нажатия */
#name:focus,
#email:focus,
#message:focus {
    background-color: white;
    color: #445162;
    border-color: white;
}

.contacts-links {
    border: 1px solid #000;
    box-sizing: border-box;
}

.contacts-list {
    /* добавлю */
}

.copyright {
    display: block;
    text-align: center;
}