body {
    width: 1280px;
    margin: 0 auto;
    border: 4px solid black;
    box-sizing: border-box;
    font-family: Arial;
}

.page-header {
    width: 100%;
    background-color: #445161;
    box-sizing: border-box;
    color: #445162;
}

.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.page-header-wrp {
    border: 1px solid #fff;
    box-sizing: border-box;
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

.page-header-title {
    margin: 0 0 10px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
}

.page-header-list {
    margin: 0;
    list-style-type: none;
    font-family: ArialMT;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
}

.page-header-list-item {
    background: url(img/check-icon.png) no-repeat 0px 5px;
    padding-left: 36px;
}

.page-header-img {
    display: block;
    width: 300px;
    height: 180px;
    background-color: #fff;
    color: black;
    float: right;
}