/* line 1, ../sass/style.scss */
body {
  width: 1920px;
  margin: 0; }
  /* line 5, ../sass/style.scss */
  body .header {
    background-image: url(../img/header-photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 1024px;
    padding: 40px 150px; }
    /* line 13, ../sass/style.scss */
    body .header-top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      max-width: 1170px;
      height: 56px;
      margin: auto; }
      /* line 22, ../sass/style.scss */
      body .header-top-logo {
        margin-right: 156px; }
      /* line 26, ../sass/style.scss */
      body .header-top-menu {
        display: flex;
        justify-content: space-between;
        width: 637px; }
        /* line 31, ../sass/style.scss */
        body .header-top-menu .menu-link {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 300;
          color: #ffffff; }
        /* line 39, ../sass/style.scss */
        body .header-top-menu .menu-link:hover,
        body .header-top-menu .menu-link:active {
          color: #c7b299; }
      /* line 45, ../sass/style.scss */
      body .header-top-action {
        display: flex;
        justify-content: space-between;
        height: 24px;
        width: 70px; }
        /* line 51, ../sass/style.scss */
        body .header-top-action .cart {
          width: 18px;
          height: 24px;
          background: url(../img/cart-button.svg) no-repeat;
          background-size: contain;
          border: none; }
        /* line 59, ../sass/style.scss */
        body .header-top-action form .header-search {
          width: 24px;
          height: 24px;
          background: url(../img/input-search.svg) no-repeat;
          background-size: contain;
          border: none; }
    /* line 69, ../sass/style.scss */
    body .header .carousel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1620px;
      height: 603px;
      margin: auto; }
      /* line 77, ../sass/style.scss */
      body .header .carousel-left {
        background: url(../img/carousel-left.svg) no-repeat;
        background-size: contain;
        height: 73px;
        width: 40px;
        border: none; }
      /* line 85, ../sass/style.scss */
      body .header .carousel-item {
        text-align: center;
        width: 589px;
        height: 261px; }
        /* line 90, ../sass/style.scss */
        body .header .carousel-item h2 {
          font-size: 36px;
          color: #ffffff;
          font-weight: 500;
          line-height: 1.2;
          font-family: "Raleway";
          margin: 0 0 14px 0; }
        /* line 99, ../sass/style.scss */
        body .header .carousel-item h1 {
          font-size: 52px;
          color: #ffffff;
          font-weight: 800;
          line-height: 1.2;
          font-family: "Raleway";
          margin: 0 0 19px 0; }
        /* line 108, ../sass/style.scss */
        body .header .carousel-item p {
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
          font-weight: 300;
          font-family: "Montserrat";
          margin: 0 auto 51px;
          word-wrap: break-word;
          hyphens: auto;
          max-width: 562px; }
      /* line 121, ../sass/style.scss */
      body .header .carousel-right {
        background: url(../img/carousel-right.svg) no-repeat;
        background-size: contain;
        height: 73px;
        width: 40px;
        border: none; }
    /* line 131, ../sass/style.scss */
    body .header .carousel-pages {
      display: flex;
      margin: auto;
      width: 98px;
      height: 15px; }
      /* line 137, ../sass/style.scss */
      body .header .carousel-pages .page-button {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 5px; }
      /* line 145, ../sass/style.scss */
      body .header .carousel-pages .page-button:hover {
        width: 15px;
        height: 15px;
        border-radius: 7px;
        background-color: rgba(255, 255, 255, 0);
        border: 2px solid #d3c1ad; }

/*# sourceMappingURL=style.css.map */
