@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/Montserrat-ExtraLightItalic.ttf") format("ttf");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-ThinItalic.eot");
  src: url("../fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/Montserrat-ThinItalic.ttf") format("ttf");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("ttf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("Raleway-Thin.eot");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-ExtraBoldItalic.eot");
  src: url("../fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-ExtraBoldItalic.woff") format("woff"), url("../fonts/Raleway-ExtraBoldItalic.ttf") format("ttf");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Black.eot");
  src: url("../fonts/Raleway-Black.woff2") format("woff2"), url("../fonts/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-BlackItalic.eot");
  src: url("../fonts/Raleway-BlackItalic.woff2") format("woff2"), url("../fonts/Raleway-BlackItalic.woff") format("woff"), url("../fonts/Raleway-BlackItalic.ttf") format("ttf");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-BoldItalic.eot");
  src: url("../fonts/Raleway-BoldItalic.woff2") format("woff2"), url("../fonts/Raleway-BoldItalic.woff") format("woff"), url("../fonts/Raleway-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/Raleway-MediumItalic.woff") format("woff"), url("../fonts/Raleway-MediumItalic.ttf") format("ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-LightItalic.eot");
  src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/Raleway-LightItalic.woff") format("woff"), url("../fonts/Raleway-LightItalic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-Italic.eot");
  src: url("../fonts/Raleway-Italic.woff2") format("woff2"), url("../fonts/Raleway-Italic.woff") format("woff"), url("../fonts/Raleway-Italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'raleway';
  src: url("../fonts/Raleway-SemiBoldItalic.eot");
  src: url("../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Raleway-SemiBoldItalic.woff") format("woff"), url("../fonts/Raleway-SemiBoldItalic.ttf") format("ttf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003306}}
body {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: 'montserrat', 'raleway', 'roboto', sans-serif; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003312}}
  body .header {
    background-image: url(../img/header-photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 1024px;
    padding: 40px 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003320}}
    body .header-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 1170px;
      height: 56px;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003330}}
      body .header-top-logo {
        text-decoration: none;
        width: 181px;
        height: 56px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003338}}
        body .header-top-logo svg {
          fill: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003342}}
        body .header-top-logo .header-top-brand {
          font-family: 'raleway';
          font-size: 34px;
          line-height: 1.2;
          font-weight: 400;
          font-style: normal;
          letter-spacing: -0.04em;
          color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003353}}
      body .header-top-logo:hover svg {
        fill: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003356}}
      body .header-top-logo:hover .header-top-brand {
        color: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003360}}
      body .header-top-logo:focus {
        outline-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003362}}
        body .header-top-logo:focus svg {
          fill: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003365}}
        body .header-top-logo:focus .header-top-brand {
          color: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003370}}
      body .header-top-logo:active {
        outline-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003372}}
        body .header-top-logo:active svg {
          fill: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003375}}
        body .header-top-logo:active .header-top-brand {
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003380}}
      body .header-top-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 637px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003385}}
        body .header-top-menu .menu-link {
          font-family: 'montserrat', sans-serif;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 300;
          color: #ffffff;
          text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003394}}
        body .header-top-menu .menu-link:hover,
        body .header-top-menu .menu-link:focus {
          color: #c7b299;
          outline-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003399}}
        body .header-top-menu .menu-link:active {
          outline-color: white;
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003405}}
      body .header-top-action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 24px;
        width: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003411}}
        body .header-top-action .cart {
          width: 18px;
          height: 24px;
          border: none;
          background-color: transparent;
          fill: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003419}}
        body .header-top-action .cart:hover,
        body .header-top-action .cart:focus {
          fill: #c7b299;
          outline-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003424}}
        body .header-top-action .cart:active {
          fill: #fff;
          outline-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003429}}
        body .header-top-action form {
          width: 24px;
          height: 24px;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003434}}
          body .header-top-action form .header-search {
            display: block;
            width: 100%;
            height: 100%;
            fill: #fff;
            border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003442}}
          body .header-top-action form .header-search:hover,
          body .header-top-action form .header-search:focus {
            fill: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003446}}
          body .header-top-action form .header-search:active {
            fill: #fff;
            outline-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003451}}
          body .header-top-action form #search {
            width: 0;
            min-height: 0;
            padding: 5px;
            outline: none;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 34px;
            left: -156px;
            color: #fff;
            font-size: 16px;
            text-transform: capitalize; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003467}}
          body .header-top-action form #search:focus,
          body .header-top-action form #search:active {
            width: 180px;
            min-height: 20px;
            -webkit-transition: width 1s ease;
            transition: width 1s ease;
            border: 1px solid #d3c1ad;
            border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003479}}
    body .header .carousel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 1620px;
      margin: 0 auto;
      padding: 285px 0 326px 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003488}}
      body .header .carousel-left {
        height: 73px;
        width: 40px;
        border: none;
        fill: #fff;
        background-color: transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003496}}
      body .header .carousel-item {
        text-align: center;
        width: 589px;
        min-height: 261px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003502}}
        body .header .carousel-item h2 {
          font-size: 34px;
          color: #ffffff;
          font-family: 'raleway';
          font-weight: 400;
          line-height: 1.2;
          margin: 0 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003510}}
        body .header .carousel-item h1 {
          font-size: 52px;
          color: #ffffff;
          font-family: 'raleway';
          font-weight: 800;
          line-height: 1.2;
          margin: 0 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003519}}
        body .header .carousel-item p {
          font-size: 14px;
          line-height: 24px;
          color: #ffffff;
          font-weight: 300;
          font-family: 'montserrat';
          margin: 0 0 48px 0;
          word-wrap: break-word;
          -webkit-hyphens: auto;
              -ms-hyphens: auto;
                  hyphens: auto;
          max-width: 562px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003531}}
        body .header .carousel-item .get-started {
          font-size: 14px;
          line-height: 23px;
          color: #ffffff;
          font-weight: 800;
          font-family: 'raleway';
          text-transform: uppercase;
          width: 170px;
          height: 53px;
          border-radius: 3px;
          background-color: #988574; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003544}}
        body .header .carousel-item .get-started:hover,
        body .header .carousel-item .get-started:focus {
          color: #988574;
          background-color: #fff;
          font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003550}}
        body .header .carousel-item .get-started:active {
          color: #fff;
          background-color: #988574;
          outline-color: white;
          font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003558}}
      body .header .carousel-right {
        height: 73px;
        width: 40px;
        border: none;
        background-color: transparent;
        fill: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003566}}
      body .header .carousel-left:hover, body .header .carousel-right:hover, body .header .carousel-left:focus, body .header .carousel-right:focus {
        fill: #d3c1ad; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003572}}
      body .header .carousel-left:active, body .header .carousel-right:active {
        fill: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003579}}
    body .header .carousel-pages {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      width: 100px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003585}}
      body .header .carousel-pages .page-button {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        opacity: 0.5;
        border-radius: 50%;
        border: 2px solid transparent;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003596}}
      body .header .carousel-pages .page-button:hover,
      body .header .carousel-pages .page-button:focus {
        background-color: rgba(255, 255, 255, 0);
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        border: 2px solid #d3c1ad; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003602}}
      body .header .carousel-pages .page-button:active {
        background-color: #fff;
        border: 2px solid transparent; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003611}}
  body main .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 78px 0 113px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003618}}
    body main .features-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 266px;
      min-height: 214px;
      margin: 0 30px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003628}}
      body main .features-block .features-block-name svg {
        display: block;
        width: 100%;
        height: 49px;
        fill: #555555;
        margin: 0 0 29px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003636}}
      body main .features-block .features-block-name h3 {
        width: 100%;
        font-family: 'raleway';
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin: 0;
        text-transform: capitalize; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003648}}
      body main .features-block p {
        width: 100%;
        font-family: 'montserrat';
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #8c8c8c;
        margin: 0;
        word-break: break-word;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003660}}
      body main .features-block p::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 98px;
        width: 70px;
        border: 3px solid #f1eee9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003676}}
    body main .features-block:last-child {
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003682}}
    body main .features-block:hover svg, body main .features-block:focus svg {
      fill: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003685}}
    body main .features-block:hover h3, body main .features-block:focus h3 {
      color: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003690}}
    body main .features-block:active svg {
      fill: #555555; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003693}}
    body main .features-block:active h3 {
      color: #555555; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003699}}
  body main .realization {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fbfaf8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003707}}
    body main .realization h2 {
      font-family: 'raleway';
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: #555555;
      margin: 0 0 24px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003714}}
    body main .realization p {
      max-width: 770px;
      text-align: center;
      font-family: 'montserrat';
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #8c8c8c;
      margin: 0 0 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003724}}
    body main .realization-images {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003730}}
      body main .realization-images .img-center {
        position: relative;
        display: block;
        width: 770px;
        height: 482px;
        z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003738}}
      body main .realization-images .img-left {
        position: absolute;
        display: block;
        width: 770px;
        height: 400px;
        right: 230px;
        z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003746}}
      body main .realization-images .img-left:hover {
        z-index: 3;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003751}}
      body main .realization-images .img-right {
        position: absolute;
        display: block;
        width: 770px;
        height: 400px;
        right: -230px;
        z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003759}}
      body main .realization-images .img-right:hover {
        z-index: 3;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003768}}
  body main aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    padding: 44px 375px 44px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f4f5f8;
    background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
    background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003777}}
    body main aside .aside-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 700px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003782}}
      body main aside .aside-text span {
        font-family: 'raleway';
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        color: #c7b299;
        margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003790}}
      body main aside .aside-text h3 {
        font-family: 'raleway';
        text-transform: capitalize;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003800}}
      body main aside .aside-text p {
        margin: 0;
        font-family: 'montserrat';
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #615855; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003809}}
    body main aside .purchase-now {
      text-transform: uppercase;
      font-family: 'raleway';
      font-size: 14px;
      line-height: 23px;
      font-weight: 800;
      color: #ffffff;
      width: 170px;
      height: 50px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: center;
      background-color: #998675;
      border-radius: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003823}}
    body main aside .purchase-now:hover,
    body main aside .purchase-now:focus {
      background-color: #fff;
      color: #998675;
      border: #998675; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003829}}
    body main aside .purchase-now:active {
      background-color: #998675;
      color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003835}}
  body main .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 375px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003841}}
    body main .projects h2 {
      font-family: 'raleway';
      text-transform: capitalize;
      font-size: 30px;
      line-height: 1.2;
      font-weight: 600;
      color: #555555;
      margin: 0 0 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003850}}
    body main .projects p {
      font-family: 'montserrat';
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
      color: #8c8c8c;
      text-align: center;
      max-width: 760px;
      margin: 0 0 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003861}}
    body main .projects .projects-menu {
      text-align: center;
      min-width: 605px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0 0 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003868}}
      body main .projects .projects-menu button {
        font-family: 'montserrat';
        text-transform: capitalize;
        font-size: 14px;
        line-height: 21px;
        font-weight: 300;
        color: #8c8c8c;
        height: 32px;
        border: 1px solid #ebebeb;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0 20px;
        border-radius: 3px;
        background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003882}}
      body main .projects .projects-menu button:hover,
      body main .projects .projects-menu button:focus {
        background-color: #998675;
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003887}}
      body main .projects .projects-menu button:active {
        background-color: #fff;
        color: #8c8c8c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003893}}
    body main .projects .projects-cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 1170px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-height: 725px;
      -ms-flex-line-pack: justify;
          align-content: space-between;
      margin: 0 0 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003902}}
      body main .projects .projects-cards article {
        width: 370px;
        min-height: 340px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003908}}
        body main .projects .projects-cards article .project-img {
          display: block;
          margin: 0;
          width: 370px;
          height: 240px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003915}}
        body main .projects .projects-cards article .project-txt {
          background-color: #fbfaf8;
          padding: 30px 0 25px 30px;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003920}}
          body main .projects .projects-cards article .project-txt span {
            font-family: 'raleway';
            font-size: 20px;
            line-height: 1.2;
            font-weight: 500;
            color: #c7b299;
            text-align: left;
            display: block;
            margin: 0 0 6px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003930}}
          body main .projects .projects-cards article .project-txt p {
            font-family: 'montserrat';
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: #d1d1d1;
            text-align: left;
            display: block;
            margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003942}}
        body main .projects .projects-cards article .project-txt::before {
          content: "";
          border: 15px solid transparent;
          border-bottom: 10px solid #fbfaf8;
          position: absolute;
          top: -23px;
          left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003951}}
        body main .projects .projects-cards article .hover-links {
          display: none;
          min-width: 80px;
          height: 26px;
          position: absolute;
          top: 106px;
          left: 144px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003959}}
          body main .projects .projects-cards article .hover-links .link {
            background: url(../img/link.svg) no-repeat;
            display: inline-block;
            height: 26px;
            width: 26px;
            margin-right: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003967}}
          body main .projects .projects-cards article .hover-links .zoom {
            background: url(../img/zoom.svg) no-repeat;
            display: inline-block;
            height: 26px;
            width: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003980}}
      body main .projects .projects-cards article:hover .hover-links,
      body main .projects .projects-cards article:focus .hover-links {
        display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003983}}
      body main .projects .projects-cards article:hover .hover-links:hover,
      body main .projects .projects-cards article:focus .hover-links:hover {
        border: 1px dotted #fff;
        border-radius: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003987}}
      body main .projects .projects-cards article:hover .hover-links:active,
      body main .projects .projects-cards article:focus .hover-links:active {
        border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003991}}
      body main .projects .projects-cards article:hover .project-img,
      body main .projects .projects-cards article:focus .project-img {
        -webkit-filter: brightness(0.3) sepia(0.15);
                filter: brightness(0.3) sepia(0.15); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003995}}
      body main .projects .projects-cards article:hover .project-txt,
      body main .projects .projects-cards article:focus .project-txt {
        background-color: #362f2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\00003997}}
        body main .projects .projects-cards article:hover .project-txt span,
        body main .projects .projects-cards article:focus .project-txt span {
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\000031000}}
        body main .projects .projects-cards article:hover .project-txt p,
        body main .projects .projects-cards article:focus .project-txt p {
          color: #c7b299; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\000031004}}
      body main .projects .projects-cards article:hover .project-txt::before,
      body main .projects .projects-cards article:focus .project-txt::before {
        content: "";
        border: 15px solid transparent;
        border-bottom: 10px solid #362f2d;
        position: absolute;
        top: -23px;
        left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\000031016}}
    body main .projects .button-load-more {
      min-width: 170px;
      min-height: 50px;
      padding: 14px;
      background-color: #998675;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-family: 'raleway';
      font-size: 14px;
      line-height: 23px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\000031032}}
    body main .projects .button-load-more:hover,
    body main .projects .button-load-more:focus {
      background-color: #fff;
      color: #998675;
      border: 1px solid #998675; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/leokotman\/Documents\/IT\/4\.HTML5-CSS3-webinar\/4-HTML5-CSS3\/test-layout\/sass\/style\.scss}line{font-family:\000031038}}
    body main .projects .button-load-more:active {
      background-color: #998675;
      color: #ffffff; }

/*# sourceMappingURL=style.css.map */