@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.eot');
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
         url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
         url('../fonts/Montserrat-ExtraLightItalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-ExtraLight.eot');
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
         url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
         url('../fonts/Montserrat-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Italic.eot');
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
         url('../fonts/Montserrat-Italic.woff') format('woff'),
         url('../fonts/Montserrat-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
         url('../fonts/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-LightItalic.eot');
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
         url('../fonts/Montserrat-LightItalic.woff') format('woff'),
         url('../fonts/Montserrat-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-MediumItalic.eot');
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
         url('../fonts/Montserrat-MediumItalic.woff') format('woff'),
         url('../fonts/Montserrat-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
         url('../fonts/Montserrat-Thin.woff') format('woff'),
         url('../fonts/Montserrat-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-ThinItalic.eot');
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
         url('../fonts/Montserrat-ThinItalic.woff') format('woff'),
         url('../fonts/Montserrat-ThinItalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.eot');
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
         url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
         url('../fonts/Montserrat-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}



@font-face {
    font-family: 'raleway';
    src: url('Raleway-Thin.eot');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Thin.eot');
    src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
         url('../fonts/Raleway-Thin.woff') format('woff'),
         url('../fonts/Raleway-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
         url('../fonts/Raleway-ExtraBold.woff') format('woff'),
         url('../fonts/Raleway-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-ExtraBoldItalic.eot');
    src: url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
         url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/Raleway-ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Black.eot');
    src: url('../fonts/Raleway-Black.woff2') format('woff2'),
         url('../fonts/Raleway-Black.woff') format('woff'),
         url('../fonts/Raleway-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-BlackItalic.eot');
    src: url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
         url('../fonts/Raleway-BlackItalic.woff') format('woff'),
         url('../fonts/Raleway-BlackItalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
         url('../fonts/Raleway-Bold.woff') format('woff'),
         url('../fonts/Raleway-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-BoldItalic.eot');
    src: url('../fonts/Raleway-BoldItalic.woff2') format('woff2'),
         url('../fonts/Raleway-BoldItalic.woff') format('woff'),
         url('../fonts/Raleway-BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
         url('../fonts/Raleway-Regular.woff') format('woff'),
         url('../fonts/Raleway-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
         url('../fonts/Raleway-MediumItalic.woff') format('woff'),
         url('../fonts/Raleway-MediumItalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
         url('../fonts/Raleway-LightItalic.woff') format('woff'),
         url('../fonts/Raleway-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.woff2') format('woff2'),
         url('../fonts/Raleway-Light.woff') format('woff'),
         url('../fonts/Raleway-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
         url('../fonts/Raleway-Medium.woff') format('woff'),
         url('../fonts/Raleway-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: url('../fonts/Raleway-Italic.woff2') format('woff2'),
         url('../fonts/Raleway-Italic.woff') format('woff'),
         url('../fonts/Raleway-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
         url('../fonts/Raleway-SemiBold.woff') format('woff'),
         url('../fonts/Raleway-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-SemiBoldItalic.eot');
    src: url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
         url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
         url('../fonts/Raleway-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}


body {
    width: 1920px;
    margin: 0 auto;
    padding: 0;
    font-family: 'montserrat', 'raleway', 'roboto', sans-serif;

    .header {
        background-image: url(../img/header-photo.png);
        background-size: contain;
        background-repeat: no-repeat;
        box-sizing: border-box;
        height: 1024px;
        padding: 40px 150px;

        &-top {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            max-width: 1170px;
            height: 56px;
            margin: 0 auto;
            box-sizing: border-box;

            &-logo {
                text-decoration: none;
                width: 181px;
                height: 56px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    fill: #fff;
                }
                
                .header-top-brand {
                font-family: 'raleway';
                font-size: 34px;
                line-height: 1.2;
                font-weight: 400;
                font-style: normal;
                letter-spacing: -0.04em;
                color: #ffffff;
                }
            }
            &-logo:hover {
                svg {
                    fill: #c7b299;
                }
                .header-top-brand {
                    color: #c7b299;
                }
                
            }

            &-menu {
                display: flex;
                justify-content: space-between;
                width: 637px;

                .menu-link {
                    font-family: 'montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 1.2;
                    font-weight: 300;
                    color: #ffffff;
                    text-decoration: none;
                }

                .menu-link:hover,
                .menu-link:active {
                    color: #c7b299;
                }
            }

            &-action {
                display: flex;
                justify-content: space-between;
                height: 24px;
                width: 70px;

                .cart {
                    width: 18px;
                    height: 24px;
                    border: none;
                    background-color: transparent;
                    fill: #fff;
                }

                .cart:hover {
                    fill: #c7b299;
                }

                form {
                    width: 24px;
                    height: 24px;
                    position: relative;

                    .header-search {
                        display: block;
                        width: 100%;
                        height: 100%;
                        fill: #fff;
                        border: none;
                    }

                    .header-search:hover {
                        fill: #c7b299;
                    }

                    #search {
                        width: 0;
                        min-height: 0;
                        padding: 5px;
                        outline: none;
                        box-sizing: border-box;
                        border: none;
                        background-color: transparent;
                        position: absolute;
                        top: 34px;
                        left: -156px;
                        color: #fff;
                        font-size: 16px;
                        text-transform: capitalize;
                    }

                    #search:focus {
                        width: 180px;
                        min-height: 20px;
                        transition: width 1s ease;
                        border: 1px solid #d3c1ad;
                        border-radius: 5px;
                    }
                }                
            }
        }

        .carousel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1620px;
            margin: 0 auto;
            padding: 285px 0 326px 0;
            box-sizing: border-box;

            &-left {
                height: 73px;
                width: 40px;
                border: none;
                fill: #fff;
                background-color: transparent;
            }

            &-item {
                text-align: center;
                width: 589px;
                min-height: 261px;
                box-sizing: border-box;

                h2 {
                    font-size: 34px;
                    color: #ffffff;                  font-family: 'raleway';
                    font-weight: 400;
                    line-height: 1.2;
                    margin: 0 0 10px 0;
                }

                h1 {
                    font-size: 52px;
                    color: #ffffff;
                    font-family: 'raleway';
                    font-weight: 800;
                    line-height: 1.2;
                    margin: 0 0 10px 0;
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                    color: #ffffff;
                    font-weight: 300;
                    font-family: 'montserrat';
                    margin: 0 0 48px 0;
                    word-wrap: break-word;
                    hyphens: auto;
                    max-width: 562px;                
                }

                .get-started {
                    font-size: 14px;line-height: 23px;
                    color: #ffffff;
                    font-weight: 800;
                    font-family: 'raleway';
                    text-transform: uppercase;
                    width: 170px;
                    height: 53px;
                    border-radius: 3px;
                    background-color: #988574;
                }

                .get-started:hover {
                    color: #988574;
                    background-color: #fff;
                    font-size: 16px;
                }
            }

            &-right {
                height: 73px;
                width: 40px;
                border: none;
                background-color: transparent;
                fill: #fff;
            }

            &-left:hover,
            &-right:hover {
                fill: #d3c1ad;
            }

        }

        .carousel-pages {
            display: flex;
            margin: 0 auto;
            width: 100px;
            justify-content: space-between;

            .page-button {
                display: block;
                width: 10px;
                height: 10px;
                background-color: #fff;
                opacity: 0.5;
                border-radius: 50%;
                border: 2px solid transparent;
                box-sizing: border-box;
            }

            .page-button:hover {
                background-color: rgba(255,255,255,0);
                transform: scale(1.5);
                border: 2px solid #d3c1ad;
            }

        }
    }

    main {
        .features {
            display: flex;
            justify-content: center;
            padding: 78px 0 78px;
            box-sizing: border-box;
            text-align: center;

            &-block {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 266px;
                min-height: 214px;
                margin: 0 30px 0 0;

                .features-block-name {
                    svg {
                        display: block;
                        width: 100%;
                        height: 49px;
                        fill: #555555;
                        margin: 0 0 29px 0;
                    }

                    h3 {
                        width: 100%;
                        font-family: 'raleway';
                        font-size: 22px;line-height: 1.2;font-weight: 600;color: #555555;
                        margin: 0;
                        text-transform: capitalize;
                    }
                }

                p {
                    width: 100%;
                    font-family: 'montserrat';font-size: 14px;line-height: 24px;font-weight: 300;color: #8c8c8c;
                    margin: 0;
                    word-break: break-word;
                }
                
                svg {
                    fill: #f1eee9;
                    width: 100%;
                    margin: 0;
                }
            }

            &-block:last-child {
                margin: 0;
            }

            &-block:hover {
                svg {
                    fill: #c7b299;
                }
                h3 {
                    color: #c7b299;
                }
            }
        }

        .realization {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 0 0 0;
            box-sizing: border-box;
            background-color: #fbfaf8;

            h2 {
                font-family: 'raleway';font-size: 30px;
                line-height: 1.2;font-weight: 600;
                color: #555555;
                margin: 0 0 24px 0;
            }

            p {
                max-width: 770px;
                text-align: center;
                font-family: 'montserrat';
                font-size: 16px;
                line-height: 28px;font-weight: 300;
                color: #8c8c8c;
                margin: 0 0 40px 0;
            }

            &-images {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: relative;

                .img-center {
                    position: relative;
                    display: block;
                    width: 770px;
                    height: 482px;
                    z-index: 2;
                }

                .img-left {
                    position: absolute;
                    display: block;
                    width: 770px;
                    height: 400px;
                    right: 230px;
                    z-index: 1;
                }
                .img-left:hover {
                    z-index: 3;
                    transform: scale(1.1);
                }

                .img-right {
                    position: absolute;
                    display: block;
                    width: 770px;
                    height: 400px;
                    right: -230px;
                    z-index: 1;
                }
                .img-right:hover {
                    z-index: 3;
                    transform: scale(1.1);
                }
            }


        }

        aside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 150px;
            padding: 44px 375px 44px;
            box-sizing: border-box;
            background-color: #f4f5f8;background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);

            .aside-text {
                display: flex;
                flex-wrap: wrap;
                max-width: 700px;
                
                span {
                    font-family: 'raleway';
                    font-size: 28px;
                    line-height: 1.2;
                    font-weight: 400;
                    color: #c7b299;
                    margin: 0;
                }
                h3 {
                    font-family: 'raleway';
                    text-transform: capitalize;
                    font-size: 28px;
                    line-height: 1.2;
                    font-weight: 400;
                    color: #ffffff;
                    margin: 0;
                }

                p {
                    margin: 0;
                    font-family: 'montserrat';font-size: 18px;
                    line-height: 1.2;
                    font-weight: 300;
                    color: #615855;
                }
            }

            .purchase-now {
                text-transform: uppercase;
                font-family: 'raleway';font-size: 14px;line-height: 23px;font-weight: 800;
                color: #ffffff;
                width: 170px;height: 50px;
                text-align: center;
                background-color: #998675;border-radius: 3px;
            }
        }

        .projects {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 80px 375px;
            
            h2 {
                font-family: 'raleway';
                text-transform: capitalize;
                font-size: 30px;
                line-height: 1.2;
                font-weight: 600;
                color: #555555;
                margin: 0 0 20px 0;
            }
            p {
                font-family: 'montserrat';
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
                color: #8c8c8c;
                text-align: center;
                max-width: 760px;
                margin: 0 0 40px 0;
            }
            
            .projects-menu {
                text-align: center;
                min-width: 605px;
                display: flex;
                justify-content: space-between;
                margin: 0 0 40px 0;

                button {
                    font-family: 'montserrat';
                    text-transform: capitalize;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 300;
                    color: #8c8c8c;
                    height: 32px;
                    border: 1px solid #ebebeb;
                    box-sizing: border-box;
                    padding: 0 20px;
                    border-radius: 3px;
                    background-color: #fff;
                }
                button:hover {
                    background-color: #998675;
                    color: #fff;
                }
            }

            .projects-cards {
                display: flex;
                flex-wrap: wrap;
                width: 1170px;
                justify-content: space-between;
                min-height: 725px;
                align-content: space-between;
                margin: 0 0 40px 0;

                article {
                    width: 370px;
                    min-height: 340px;
                    box-sizing: border-box;
                    position: relative;

                    .project-img {
                        display: block;
                        margin: 0;
                        width: 370px;
                        height: 240px;
                    }

                    .project-txt {
                        background-color: #fbfaf8;
                        padding: 30px 0 25px 30px;
                        
                        span {
                            font-family: 'raleway';
                            font-size: 20px;
                            line-height: 1.2;
                            font-weight: 500;
                            color: #c7b299;
                            text-align: left;
                            display: block;
                            margin: 0 0 6px 0;
                        }
                        p {
                            font-family: 'montserrat';
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 300;
                            color: #d1d1d1;
                            text-align: left;
                            display: block;
                            margin: 0;
                        }
                    }

                    .hover-links {
                        display: none;
                        width: 80px;
                        height: 26px;
                        position: absolute;
                        top: 106px;
                        left: 144px;
                        
                        .link {
                            background: url(../img/link.svg) no-repeat #C7B299;
                            display: block;
                            height: 26px;
                            width: 26px;
                        }
                        .zoom {
                            background: url(../img/zoom.svg) no-repeat #fff;
                            display: block;
                            height: 26px;
                            width: 26px;
                        }
                    }
                    
                }

                article:hover .hover-links {
                    display: block;
                }
                article:hover .project-img {
                    
                }
            }

            .button-load-more {
                min-width: 170px;
                min-height: 50px;
                padding: 14px;
                background-color: #998675;
                border-radius: 3px;
                box-sizing: border-box;
                font-family: 'raleway';
                font-size: 14px;
                line-height: 23px;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}